<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,69},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{136,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58f03842989588d9c038bbf0d5860b2b$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
